.avatar-pink{
  background:#ffe9f0;
  color:#d8688b;
}
.avatar-green{
  background:#e3f7ec;
  color:#2d9b67;
}
.avatar-orange{
  background:#fff0dc;
  color:#d28b37;
}
.avatar-blue{
  background:#e3f0ff;
  color:#4682ca;
}
.avatar-yellow{
  background:#fff7d9;
  color:#b18a20;
}
